<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %> 
    <title>Productos</title>
</head>
<body>
    <%- include("./partials/header.ejs") %> 
    <main>
        <h2 class="divisor" style="margin-top: 0;">TODOS LOS PRODUCTOS</h2>
        <section class="products">
            <% productos.forEach(producto => { %>
                <%- include("./partials/producto.ejs", {producto}) %> 
            <% }) %>
        </section>
    </main>
    <%- include("./partials/footer.ejs") %> 
    <script src="js/burger.js"></script>
</body>
</html>