<header>
    <nav>
        <a href="/"><img src="/img/logo.png" alt="logo"></a>
        <form action="#">
            <input type="text" name="search" id="search" placeholder="Buscar Producto">
            <button type="submit"><i class="fa-solid fa-search"></i></button>
        </form>
        <ul class="desktop">
            <li><a href="/">Inicio</a></li>
            <li><a href="/productos">Produtos</a></li>
            <li><a href="/users/login">Iniciar sesión</a></li>
            <li><a href="/users/register">Crear Cuenta</a></li>
            <li><a href="/productos/crear">Crear producto</a></li>
            <li><a href="/productos/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
        <ul>
            <li><a href="#" id="search-button"><i class="fa-solid fa-search"></i></a></li>
            <li><a href="#" id="toggle-burger"><i class="fa-solid fa-bars"></i></a></li>
            <li><a href="/productos/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
    </nav>
    <div id="burger-menu">
        <ul class="burger">
            <li><a href="/productos">Productos</a></li>
            <li><a href="/productos/crear">Crear producto</a></li>
            <li><a href="/users/register">Crear cuenta</a></li>
            <li><a href="/users/login">Iniciar sesión</a></li>
        </ul>
    </div>
</header>